// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$bar-height: 64px;
$footer-height: 60px;

// fix table header and footer
// 64px is table top slot height, 60px is table footer height.
.v-data-table__wrapper{
  height: calc(100vh - #{$footer-height} - #{$bar-height} - 64px - 60px) !important;
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .2s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}
